/* Card container styling */
.card-container {
    max-width: 1200px; /* Set maximum width of card container */
    margin-left: 32px;
    margin-right: 32px;
}

/* Add margin to columns */
.card-container .col-6,
.card-container .col-sm-4,
.card-container .col-md-3 {
    padding: 12px; /* Add padding around each column */
}

/* Card styles */
.card {
    background-color: #fff;
    height: 100%; /* Ensure it fills the height of its container */
    padding: 8px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1), 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Space between elements inside the card */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

/* Card title styling */
.card-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

/* Card text styling */
.card-text {
    color: #475467;
    font-size: 14px;
    margin-bottom: 15px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden; /* Hides overflow content */
    -webkit-line-clamp: 3; /* Limits to 3 lines */
    line-clamp: 3; /* Fallback for non-WebKit browsers */
}

/* View dataset link styling */
.view-dataset {
    background: linear-gradient(90deg, #f1c28c, #60b1df);
    -webkit-background-clip: text; /* Clip background to text */
    -webkit-text-fill-color: transparent; /* Makes text transparent */
    background-clip: text; /* Fallback for non-WebKit browsers */
    color: transparent; /* Ensures text is transparent */
    font-weight: 600;
    font-size: 16px;
    margin-left: 16px;
    text-align: left; /* Left-align text */
}

/* Adjust image to be responsive */
.card-img {
    width: 100%; /* Make image responsive */
    height: auto; /* Maintain aspect ratio */
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .col-md-3 {
        flex: 0 0 calc(50% - 16px); /* 2 columns on small screens */
    }
}

@media (max-width: 576px) {
    .col-md-3 {
        flex: 0 0 calc(100% - 16px); /* 1 column on extra-small screens */
    }
}
