.card {
    background-color: #fff;
    height: 359px;
    width: 260px;
    padding: 8px 8px 16px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1), 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    margin-bottom: 24px; /* Spacing for cards */
}

.card-body {
    padding: 0;
    background-color: #fff;
}

.card-title {
    color: #101828;
    font-weight: 600;
    font-size: 20px;
    margin: 16px 0 10px 16px;
}

.card-text {
    color: #475467;
    font-weight: 500;
    font-size: 16px;
    margin: 16px 16px 0;
    text-align: left;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 3;
    line-clamp: 3;
}

.view-dataset {
    background: linear-gradient(90deg, #f1c28c, #60b1df);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    font-weight: 600;
    font-size: 18px;
    margin-left: 16px;

    text-align: left;
}
