body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    background-color: #f9fafb;
    overflow-x: hidden;

    max-height: 1468px;
}

/* Dataset container */
.datasets {
    margin-top: 32px;
    margin-bottom: 48px;

    display: flex;
    flex-wrap: wrap; /* Allow cards to wrap onto the next line */
    justify-content: flex-start; /* Aligns cards to the left */
    padding: 0 10px; /* Padding for small screens */
}
.my-dataset {
    color: #000000;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 10px;
}

.all-dataset-button {
    font-size: 16px;
    font-weight: 600;
    background: linear-gradient(to right, #f1c28c, #60b1df);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    border-radius: 6px;
    text-decoration: none;

    border: 2px solid transparent;
    border-color: #f1c28c;
}

.subscribed-dataset {
    font-size: 16px;
    font-weight: 600;
    background: #ffffff;
    color: #000000;

    border-radius: 6px;
    text-decoration: none;

    border: 2px solid transparent;
}
