* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "inter", sans-serif, serif;
}

.navbar {
    background-color: #ffffff;
    padding-right: 112px;
    padding-left: 112px;
}

.nav-item {
    position: relative;
    display: grid;
    align-items: center;
    font-size: 16px;
    font-weight: 800;
    color: #344054;
}
.nav-item .nav-link.active {
    background: linear-gradient(to right, #f1c28c, #60b1df);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    border: 1px solid transparent;
    border-radius: 6px;
    border-image: linear-gradient(to right, #f1c28c, #60b1df) 1;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    transition: background 0.3s ease;
}

#profile-pic {
    width: 40px;
    height: 40px;
    clip-path: circle();
}

#toggle {
    color: #667085;
}
#detail {
    font-size: 30px;
    color: #000000;
    font-weight: 600;
    width: 150px;
    height: 38px;
}

.detail-profile {
    margin-top: 32px;
}

#detail2 {
    font-size: 18px;
    font-weight: 500;
}
#securty-detail {
    font-size: 18px;
    font-weight: 500;
}
