*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    background-color: #f9fafb;
    font-family: "Poppins", sans-serif;
}
.wrapper {
    margin-inline: auto;
    min-width: 600px;
    padding: 0 112px 0 112px;
}
.my-detail {
    margin-top: 32px;
    font-weight: 700;
}

.left-body {
    background-color: #ffffff;
    border-radius: 16px;
    min-height: 592px;
    margin-right: 32px;
    margin-bottom: 48px;
    padding-top: 24px;
    padding-left: 24px;
    padding-right: 24px;
}
.profile-picture {
    display: flex;

    max-width: 177px;
    max-height: 80px;
    margin-bottom: 32px;
}

.camera-plus {
    font-size: 20px;
    margin-left: 16px;
    margin-right: 8px;
    margin-top: 30px;
    color: #0046c4;
}
.change {
    position: relative;
    margin-top: 30px;
    width: 53px;
    min-height: 20px;
    color: #0046c4;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
}

.right-body {
    background-color: #ffffff;
    border-radius: 16px;
    min-height: 414px;
    padding-top: 24px;
    padding-left: 24px;
    padding-right: 24px;
}
#pic-edit {
    width: 80px;
    min-height: 80px;
    clip-path: circle();
}
#detail {
    font-size: 30px;
    color: #000000;
    font-weight: 600;
    width: 150px;
    min-height: 38px;
}

#personal-detail {
    font-size: 18px;
    font-weight: 600;
}
.security-detail {
    font-weight: 600;
    font-size: 18px;
}
#update-message {
    font-weight: 500;
    font-size: 14px;
    color: #667085;
}
.form-input {
    position: relative;
    /* padding-left: 32px;
    padding-right: 32px; */
}

.form-input {
    margin-bottom: 20px;
}

.register-name {
    font-size: 14px;
    font-weight: 500;
    color: #000000;
}
.form-select {
    font-size: 16px;
    color: #000000;
    font-weight: 500;
    margin-bottom: 10px;
}
#email-field {
    background-color: #d0d5dd;
}

.form-control::placeholder {
    color: #98a2b3;
    opacity: 1;
}

#save-btn1 {
    background-color: #0046c4;
    width: 181px;
    min-height: 60px;
    margin-top: 32px;
    margin-bottom: 24px;
}

#toggler {
    position: absolute;
    top: 55%;
    right: 20px;
    transform: translateY(-50%);
    cursor: pointer;
    color: #6c757d;
    /* overflow: hidden; */
}
#newtoggler {
    position: absolute;
    top: 72%;
    right: 20px;
    transform: translateY(-50%);
    cursor: pointer;
    color: #6c757d;
    /* overflow: hidden; */
}

#confirmtoggler {
    position: absolute;
    top: 72%;
    right: 20px;
    transform: translateY(-50%);
    cursor: pointer;
    color: #6c757d;
}
#save-btn2 {
    background-color: #0046c4;
    width: 181px;
    min-height: 60px;
    margin-top: 12px;
    border-radius: 16px;
}
