*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    margin: 0;
}

.user-navbar {
    background-color: #ffffff;
    padding-left: 80px;
    padding-right: 80px;
}
.navbar {
    padding-left: 32px;
    padding-right: 32px;
}

.nav-item {
    position: relative;
    height: 40px;
    display: grid;
    align-items: center;
    font-weight: 700;
    color: #344054;
}
.nav-item .nav-link.active {
    font-size: 16px;
    height: 40px;
    background: linear-gradient(to right, #f1c28c, #60b1df);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    border-radius: 6px;
    text-decoration: none;

    border: 2px solid transparent;
    border-color: #60b1df;
}

#profile-pic {
    width: 40px;
    height: 40px;
    clip-path: circle();
}

#toggle {
    color: #667085;
}
#detail {
    font-size: 30px;
    color: #000000;
    font-weight: 600;
    width: 150px;
    height: 38px;
}

.detail-profile {
    margin-top: 32px;
}

#detail2 {
    font-size: 18px;
    font-weight: 500;
}
#securty-detail {
    font-size: 18px;
    font-weight: 500;
}
