* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "inter", sans-serif, serif;
}

.navbar {
    background-color: #ffffff;
    padding-right: 80px;
    padding-left: 80px;
}

body {
    background-color: #f9fafb;
}
.nav-link {
    color: #344054;
    font-weight: 700;
    font-size: 16px;
}
